{% extends 'base.html' %}
{% load i18n %}
{% block title %}<title> {% translate "Task manager" %} </title> {% endblock %}
{% load bootstrap4 %}

{% block header %}
{{ header }}
{% endblock %}

{% block content %}
       <form class="form" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-primary" value={{ commit_name }}>
          <a href="/" id="cancel" name="cancel" class="btn btn-default btn-link"><u>Cancel</u></a>
       </form>
{% endblock %}
