{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %} {% endblock title %}
        {% load bootstrap4 %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include 'nav.html' %}
        <div class="container wrapper flex-grow-1">
            {% bootstrap_messages %}
            <h1 class="my-4">
            {% block header %} {% endblock header %}
            </h1>
            {% block content %} {% endblock content %}
        </div>
        {% include 'footer.html' %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>
