{% extends 'base.html' %}
{% load i18n %}
{% block title %}<title>{% translate "Task manager" %}</title>{% endblock %}
{% load bootstrap4 %}
{% block content %}
<p></p>
<div class="jumbotron">
  <h1 class="display-4">{% trans "Hello from Hexlet!" %}</h1>
  <p class="lead">{% translate "Practical programming courses" %}</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io" role="button">{% trans "To learn more" %}</a>
  </p>
</div>

{% endblock %}
