{% extends 'base.html' %}
{% load i18n %}
{% block title %}<title> {% translate "Task manager" %} </title> {% endblock %}
{% load bootstrap4 %}
{% block content %}
        <h1 class="my-4">
           {{ title }}
        </h1>
       <form class="form" method="post">
          {% csrf_token %}
          <div class="alert alert-warning" role="alert">Are you sure you want to delete?
          <span class="border border-danger rounded"><b>{{ task| upper }}</b></span></div>
          <p></p>
          <p></p>
          <input type="submit" class="btn btn-danger" value="Delete">
          <a href="/tasks/" id="cancel" name="cancel" class="btn btn-default btn-link"><u>Cancel</u></a>
       </form>
{% endblock %}
