{% extends 'base.html' %}
{% load i18n %}
{% block title %}<title> {% translate "Task manager" %} </title> {% endblock %}
{% load bootstrap4 %}
{% block content %}
        <h1 class="my-4">
           {{ title }}
        </h1>
        <div><a href="/tasks/">{% translate "< to tasks" %}</a></div>
        <div class="card bg-light mb-3" style="max-width: 70rem;">
        <div class="card-header"><h3>{{ task.name }}</h3></div>
            <div class="card-body">
                <div><mark>{% translate "Description" %}</mark></div>
                <p class="card-text">{{ task.description }}</p>
                <div><mark>{% translate "Author" %}</mark></div>
                <p class="card-text">{{ task.author }}</p>
                <div><mark>{% translate "Executor" %}</mark></div>
                <p class="card-text">{{ task.executor }}</p>
                <div><mark>{% translate "Status" %}</mark></div>
                <p class="card-text">{{ task.status }}</p>
                <div><mark>{% translate "Labels" %}</mark></div>
                <!-- <p class="card-text">{{ task.author }}</p> -->
                <hr>
                <div>
                    <a href="/tasks/{{ task.id }}/update/">{% translate "Update" %}</a>
                    <br>
                    <a href="/tasks/{{ task.id }}/delete/">{% translate "Delete" %}</a>
                </div>
            </div>
{% endblock %}

<!--
<h5 class="card-title">Light card title</h5>
-->